<% layout('layouts/boilerplate') %>
    <div style=" padding: 100px; ">
        <h1 class="text-center" style="font-size: 60px;">Tertarik? Hubungi Kami!</h1>
        <p class="text-center" style="font-size: 28px;">atau punya pertanyaan lebih lanjut?</p>
    </div>
    <div>
        <div class="row">
            <div class="col-4">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list"
                        href="#list-home" role="tab" aria-controls="list-home">Kontak</a>
                    <a class="list-group-item list-group-item-action " id="list-qna-list" data-bs-toggle="list"
                        href="#list-qna" role="tab" aria-controls="list-qna">Q&A</a>
                    <a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list"
                        href="#list-settings" role="tab" aria-controls="list-settings">Offline Store</a>
                </div>
            </div>
            <div class="col-8">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-home" role="tabpanel"
                        aria-labelledby="list-home-list">
                        <h1 class="text-primary mb-3">Hubungi Kami via Email</h1>
                        <table class="table table-light table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Phone Number</th>
                                    <th scope="col">E-mail</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% i=1 %>
                                    <% for(let user of getAdmin){ %>
                                        <tr>
                                            <th scope="row">
                                                <%= i %>
                                            </th>
                                            <% i++ %>
                                                <td class="text-capitalize">
                                                    <%= user.fullname %>
                                                </td>
                                                <td>
                                                    <a href="https://wa.me/<%= user.phone %>">
                                                        <%= user.phone %>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a
                                                        href="https://mail.google.com/mail/?view=cm&fs=1&to=<%= user.email %>">
                                                        <%= user.email %>
                                                    </a>
                                                </td>
                                        </tr>
                                        <% } %>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="list-qna" role="tabpanel" aria-labelledby="list-qna-list">
                        <h1 class="text-primary mb-3">Halo, ada yang bisa kami bantu?</h1>
                        <div>
                            <p>
                                <button class="btn bg-white" style="width: 100%;" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#qna-1" aria-expanded="false"
                                    aria-controls="qna-1">
                                    Bagaimana cara saya melakukan order?
                                </button>
                            </p>
                            <div class="collapse my-3" id="qna-1">
                                <div class="card card-body">
                                    Anda dapat menguhubungi Admin toko kami untuk melakukan order dengan pergi ke
                                    halaman
                                    Kontak.
                                </div>
                            </div>
                        </div>
                        <div>
                            <p>
                                <button class="btn bg-white" style="width: 100%;" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#qna-2" aria-expanded="false"
                                    aria-controls="qna-2">
                                    Apakah saya diharuskan membuat akun?
                                </button>
                            </p>
                            <div class="collapse my-3" id="qna-2">
                                <div class="card card-body">
                                    Ya, anda diharuskan membuat sebuah akun untuk melakukan order jika anda ingin
                                    melakukan pemesanan by sistem.
                                </div>
                            </div>
                        </div>
                        <div>
                            <p>
                                <button class="btn bg-white" style="width: 100%;" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#qna-3" aria-expanded="false"
                                    aria-controls="qna-3">
                                    Apakah saya dapat membatalkan pesanan yang telah saya buat?
                                </button>
                            </p>
                            <div class="collapse my-3" id="qna-3">
                                <div class="card card-body">
                                    Ya, anda dapat membatalkan pesanan dengan catatan jika pesanan <b>belum
                                        terkirim.</b>
                                </div>
                            </div>
                        </div>
                        <div>
                            <p>
                                <button class="btn bg-white" style="width: 100%;" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#qna-4" aria-expanded="false"
                                    aria-controls="qna-4">
                                    Bagaimana cara saya mengajukan komplain?
                                </button>
                            </p>
                            <div class="collapse my-3" id="qna-4">
                                <div class="card card-body">
                                    Ya, anda dapat mengajukan komplain terhadap pesanan yang rusak/tidak sesuai dengan
                                    mengkonsultasikannya ke pihak admin toko dengan baik dan sopan
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
                        <h1 class="text-primary">Kunjungi Offline Store kami!</h1>
                        <div class="mapouter">
                            <div class="gmap_canvas"><iframe width="820" height="500" id="gmap_canvas"
                                    src="https://maps.google.com/maps?q=pasar%20pulo%20gadung&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a
                                    href="https://fmovies-online.net">fmovies</a><br>
                                <style>
                                    .mapouter {
                                        position: relative;
                                        text-align: right;
                                        height: 500px;
                                        width: 820px;
                                    }
                                </style><a href="https://www.embedgooglemap.net"></a>
                                <style>
                                    .gmap_canvas {
                                        overflow: hidden;
                                        background: none !important;
                                        height: 500px;
                                        width: 820px;
                                    }
                                </style>
                            </div>
                        </div>
                        <div>
                            <div class="card text-bg-primary my-3">
                                <div class="card-header fw-bold">Alamat</div>
                                <div class="card-body">
                                    <p class="card-text">Jl. Raya Bekasi No.KM. 18, RT.1/RW.6, Jatinegara Kaum, Kec.
                                        Pulo Gadung,
                                        Kota
                                        Jakarta Timur, Daerah Khusus Ibukota Jakarta 13250</p>
                                </div>
                            </div>
                            <div class="card text-bg-dark mb-3" style="max-width: 18rem;">
                                <div class="card-header fw-bold">Jam Buka/Tutup</div>
                                <div class="card-body">
                                    <p class="card-text">Monday 5AM–12AM</p>
                                    <p class="card-text">Tuesday 5AM–12AM</p>
                                    <p class="card-text">Wednesday 5AM–12AM</p>
                                    <p class="card-text">Thursday 5AM–12AM</p>
                                    <p class="card-text">Friday 5AM–12AM</p>
                                    <p class="card-text">Saturday 5AM–12AM</p>
                                    <p class="card-text">Sunday 5AM–12AM</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>