<% layout('layouts/boilerplate') %>
    <div style=" padding: 100px; ">
        <h1 class="text-center" style="font-size: 60px;">Admin Only!</h1>
        <p class="text-center" style="font-size: 28px;">Tolong gunakan halaman ini dengan bijak</p>
    </div>
    <div>
        <div class="row">
            <div class="col-4">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-customer-list"
                        data-bs-toggle="list" href="#list-customer" role="tab"
                        aria-controls="list-customer">Customer</a>
                    <a class="list-group-item list-group-item-action" id="list-admin-list" data-bs-toggle="list"
                        href="#list-admin" role="tab" aria-controls="list-admin">Admin</a>
                    <a class="list-group-item list-group-item-action" id="list-order-list" data-bs-toggle="list"
                        href="#list-order" role="tab" aria-controls="list-order">Order</a>
                    <!-- <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list"
                        href="#list-messages" role="tab" aria-controls="list-messages">WhatsApp</a>
                    <a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list"
                        href="#list-settings" role="tab" aria-controls="list-settings">Offline Store</a> -->
                    <a class="list-group-item list-group-item-action" id="list-add-admin-list" data-bs-toggle="list"
                        href="#list-add-admin" role="tab" aria-controls="list-add-admin">Registrasi Admin</a>
                </div>
            </div>
            <div class="col-8">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-customer" role="tabpanel"
                        aria-labelledby="list-customer-list">
                        <h1 class="text-primary mb-3">Daftar Customer</h1>
                        <table class="table table-light table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">Nama</th>
                                    <th scope="col">No Telepon</th>
                                    <th scope="col">Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% let i=0; %>
                                    <% for(let customer of getCustomer) { i++;%>
                                        <tr>
                                            <th scope="row">
                                                <%=i; %>
                                            </th>
                                            <td class="text-capitalize">
                                                <%= customer.fullname %>
                                            </td>
                                            <td>
                                                <%= customer.phone %>
                                            </td>
                                            <td class="d-flex justify-content-evenly"><a href="#">Ban</a> <a
                                                    href="#">More Info</a></td>
                                        </tr>
                                        <% } %>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="list-admin" role="tabpanel" aria-labelledby="list-admin-list">
                        <h1 class="text-primary mb-3">Hubungi Kami via Telepon</h1>
                        <table class="table table-light table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">Nama</th>
                                    <th scope="col">No Telepon</th>
                                    <th scope="col">Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% let x=0; %>
                                    <% for(let admin of getAdmin) { x++;%>
                                        <tr>
                                            <th scope="row">
                                                <%=x; %>
                                            </th>
                                            <td class="text-capitalize">
                                                <%= admin.fullname %>
                                            </td>
                                            <td>
                                                <%= admin.phone %>
                                            </td>
                                            <td class="d-flex justify-content-evenly"><a href="#">Ban</a> <a
                                                    href="#">More Info</a></td>
                                        </tr>
                                        <% } %>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="list-add-admin" role="tabpanel"
                        aria-labelledby="list-add-admin-list">
                        <h1 class="text-primary">Registrasi Admin</h1>
                        <form action="/contact/registerAdm" method="post" class="row g-3 needs-validation" novalidate>
                            <div class="col-md-6">
                                <label for="fullname" class="form-label">Nama Lengkap</label>
                                <input type="text" class="form-control" id="fullname" name="user[fullname]" required>
                            </div>
                            <div class="col-md-6">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control" id="username" name="user[username]" required>
                            </div>
                            <div class="col-md-12">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" name="user[password]"
                                    required>
                            </div>
                            <div class="col-6">
                                <label for="email" class="form-label">E-mail</label>
                                <input type="email" class="form-control" id="email" name="user[email]" required>
                            </div>
                            <div class="col-6">
                                <label for="phone" class="form-label">Nomor Telepon</label>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1">+62</span>
                                    <input type="number" class="form-control" name="user[phone]" id="phone" required
                                        maxlength="11"
                                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="address" class="form-label">Address</label>
                                <textarea class="form-control" id="address" name="user[address]" cols="30" rows="10"
                                    required></textarea>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-dark"
                                    style="background-color: #2B3467;">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>