<% layout('layouts/boilerplate') %>
    <!-- <div style="padding: 100px;">
        <h1 class="text-center" style="font-size: 60px ;">Anda telah berhasil melakukan Registrasi!</h1>
    </div> -->
    <div>
        <h1 class="display-5">Selamat datang, <%= getUser.fullname %>
        </h1>
        <p>username anda : <%= getUser.username %>
        </p>
        <p>email anda : <%= getUser.email %>
        </p>
        <p>nomor telepon anda : <%= getUser.phone %>
        </p>
        <p>alamat anda : <%= getUser.address %>
        </p>
        <p>alamat anda : <%= getUser.fullname %>
        </p>
        <h6>jangan beri tahukan informasi ini kepada siapapun!</h6>
    </div>