<% layout('layouts/subBoilerplate') %>
    <!-- Modal DELETE Confirm-->
    <div class="modal fade" id="productModalDelete" tabindex="-1" aria-labelledby="productModalDeleteLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="productModalDeleteLabel">
                        Konfirmasi Penghapusan Produk</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Apakah anda ingin menghapus <b>
                        <%= getProduct.productName %>
                    </b>?
                </div>
                <div class="modal-footer">
                    <form action="/brand/productDelete/<%= getProduct._id %>?_method=DELETE" method="post">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div style="padding: 100px;">
        <h1 class="text-center" style="font-size: 60px ;">Halaman Edit Produk</h1>
    </div>
    <div>
        <form action="/brand/productEdit/<%= getProduct._id %>/?_method=PUT" method="post" class="needs-validation"
            novalidate>
            <!-- Modal Edit Confirm -->
            <div class="modal fade" id="productModalEdit" tabindex="-1" aria-labelledby="productModalDeletEdit"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="productModalDeletEdit">
                                Konfirmasi Update Produk</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Apakah anda ingin memperbarui <b>
                                <%= getProduct.productName %>
                            </b>?
                        </div>
                        <div class="modal-footer">
                            <button data-bs-dismiss="modal" class="btn btn-dark"
                                style="background-color: #2B3467;">Confirm</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-6">
                    <label for="productName" class="form-label">Nama Produk</label>
                    <input type="text" class="form-control" name="product[productName]" id="productName"
                        value="<%= getProduct.productName %>" required>
                </div>
                <div class="mb-3 col-6">
                    <label for="productPrice" class="form-label">Harga Produk</label>
                    <input type="number" class="form-control" name="product[productPrice]" id="productPrice"
                        value="<%= getProduct.productPrice %>" required>
                </div>
            </div>
            <div class="mb-3">
                <label for="productImg" class="form-label">Foto Produk</label>
                <input type="url" class="form-control" name="product[productImg]" id="productImg"
                    value="<%= getProduct.productImg %>" required>
                <!-- <input class="form-control" type="file" name="productImg" id="productImg"> -->
                <div class="form-text">Ukuran img yang disarankan adalah 1:1</div>
            </div>
            <div class="mb-3">
                <label for="productDesc" class="form-label">Deskripsi Produk</label>
                <textarea class="form-control" name="product[productDesc]" id="productDesc" cols="30" rows="10"
                    required><%= getProduct.productDesc %></textarea>
            </div>
            <div class="row">
                <div class="mb-3 col-6">
                    <label for="productQty" class="form-label">Qty Produk</label>
                    <input type="number" class="form-control" name="product[productQty]" id="productQty"
                        value="<%= getProduct.productQty %>" required>
                </div>
                <div class="mb-3 col-6">
                    <label for="brandName" class="form-label">Brand Produk</label>
                    <input type="text" class="form-control" name="brand[brandName]" id="brandName"
                        value="<%= getBrand.brandName %>" required disabled>
                </div>
            </div>
            <div class="mb-3">
                <label for="productStatus" class="col-form-label">Status Produk</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="product[productStatus]" value="1" id="radioAktif"
                        required <% if(getProduct.productStatus==1) { %> checked <% } %> >
                        <label class="form-check-label" for="radioAktif">
                            Aktif
                        </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="product[productStatus]" value="0"
                        id="radioNonAktif" <% if(getProduct.productStatus==0) { %> checked <% } %>>
                        <label class="form-check-label" for="radioNonAktif">
                            Non-Aktif
                        </label>
                </div>
            </div>
            <input type="hidden" class="form-control" name="product[brandID]" id="brandName"
                value="<%= getProduct.brandID %>" required disabled>
            <div class="d-flex justify-content-between">
                <button type="button" data-bs-toggle="modal" data-bs-target="#productModalDelete"
                    class="btn btn-danger">Delete</button>
                <button type="button" data-bs-toggle="modal" data-bs-target="#productModalEdit" class="btn btn-dark"
                    style="background-color: #2B3467;">Submit</button>
            </div>
        </form>
    </div>